.DS_Store
.sass-cache
.htaccess
.idea/

# npm
node_modules
npm-debug.log
package-lock.json

#Installation Wordpress
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
index.php 
wp-content/languages/
wp-content/plugins/
wp-content/themes/*



#Configuration
/wp-config.php

